body {
    font: 80%/1.2em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    display: grid;
    grid-template-rows: 50px auto;
}
#navfooter {
    position: absolute;
	bottom: 0;
}
.nowrap {
    white-space: nowrap;
}

/*GRID*/
header {
    grid-row-start: 1;
}
/* #maintfooter {
    grid-row-start: 3;
    padding: 0;
    margin: 0;
/*} */
section#database {
    grid-row-start: 2;
}

/*TEXT*/
.subdetails {
    font-size: 0.85em;
    font-style: italic;
    color: grey;
    margin-top: 0.6em;
    margin-bottom: 0;
}
.inlinedetails {
    font-weight: normal;
    font-style: italic;
    color: grey;
}
.padright {
    margin-right: 0.4em;
}
.padleft {
    margin-left: 0.4em;
}



ul.tabs{
    margin: 0;
    padding: 0;
}
li.tab{
	position: relative;
	list-style: none;
	float: left;
	padding: 0;
}
a.tab{
	padding: 4px 5px;
	text-decoration: none;
	color: #222;
	background-color: #ddd;
	border: solid 1px #bbb;
}

/*TABLE*/
th, td {
    white-space: pre-wrap;
}
table.dataTable tbody td.linkcolumn, table.dataTable thead th.linkcolumn {
    text-align: center;
    padding: 0;
}
td.child {
    padding: 0px 2px 4px 20px;
    background-color: #ededed;
}
table.dataTable tr.columnfilters > th {
    font-weight: normal;
    /* padding: 0px 5px; */
    text-align: left;
}

input.headersearch {
    display:table-cell;
    width:100%;
    font-size: 0.9rem;
}

td.details-control {
    background: url('../css/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../css/details_close.png') no-repeat center center;
}

/* DataTables OVERRIDE */
div.dataTables_wrapper div.dataTables_processing {
    top: 0;
}