body {
    font-family: Roboto, Helvetica, -apple-system, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    font-size: 95%; /* 70%/1.2em; "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif; */
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    display: grid;
    grid-template-rows: 50px auto;
}
#navfooter {
    position: absolute;
	bottom: 0;
}
.nowrap {
    white-space: nowrap;
}
header div {
    display:inline-block;
}
header div#activity {
    float: right;
}

/*GRID*/
header {
    grid-row-start: 1;
}
/* #maintfooter {
    grid-row-start: 3;
    padding: 0;
    margin: 0;
/*} */
section#database {
    grid-row-start: 2;
}

/*TEXT*/
h1{
    font-family: "Raleway", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    line-height: 20px;
    color: black;
    font-size: 2.2em;
    margin-bottom: 0.5em;
    margin-left: 0.2em
}
a.heading {
    text-decoration: none;
}
a.heading, a.heading:visited, a.heading:hover, a.heading:active {
    color: inherit;
}
.subdetails {
    font-size: 0.85em;
    font-style: italic;
    color: grey;
    /* margin-top: 0.6em;
    margin-bottom: 0; */
    margin: 0;
}
.inlinedetails {
    font-weight: normal;
    font-style: italic;
    color: grey;
}
.padright {
    margin-right: 0.4em;
}
.padleft {
    margin-left: 0.4em;
}



ul.tabs{
    margin: 0;
    padding: 0;
}
li.tab{
	position: relative;
	list-style: none;
	float: left;
	padding: 0;
}
a.tab{
	padding: 4px 5px;
	text-decoration: none;
	color: #222;
	background-color: #ddd;
	border: solid 1px #bbb;
}

/*FIXEDTABLE*/
th, td {
    white-space: pre-wrap;
}
th {
    background-color: lightgoldenrodyellow
}
table.dataTable tbody td.linkcolumn, table.dataTable thead th.linkcolumn {
    text-align: right;
    /* padding: 2px; */
    font-size: 0.9em;
    color: forestgreen;
    white-space: normal;
}
/*CHILD TABLE */
table.dataTable tbody tr.child > td.child {
    padding: 0;
    white-space: normal;
}
tr.child > td.child table {
    border-collapse: separate;
    width: 100%;
    margin: 0;
}
tr.child > td.child table.detailstable tr td {
    padding: 6px 8px;
    background-color:#ece8dc;
}
tr.child > td.child table.linktable tr th {
    background-color:#ece8dc;
}
tr.child > td.child table.linktable tr td {
    background-color: #faf7ed;
    /*text-align: center;*/
}
table.dataTable tr.columnfilters > th {
    font-weight: normal;
    padding: 2px 5px;
    text-align: left;
    font-size:0.9em;
}
table.dataTable tbody tr.child > td.child div.dataTables_wrapper {
    background-color:#ece8dc;
    margin: 2px;
}
td.detailsHeader {
    font-style: italic;
    text-align: right;
    width: 15%;
    white-space: nowrap;
}

input.headersearch {
    display:table-cell;
    width:100%;
    font-size: 0.9rem;
}

td.details-control {
    background: url('../css/details_open.png') no-repeat center;
    background-position-y: calc(50% + 8px);
    cursor: pointer;    
}
tr.shown td.details-control {
    background: url('../css/details_close.png') no-repeat center;
    background-position-y: calc(50% + 8px);
}

/* DataTables OVERRIDE */
div.dataTables_wrapper div.dataTables_processing {
    top: 0;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}   

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

/*static ID tooltip*/
/* td.IDcolumn {
    position: relative !important;
} */
table.rowheaders tbody td {
    padding-top: 24px;
    padding-bottom: 8x;
}
.tipdiv {
    /*position: absolute !important;*/
    /* top: 28px; */
    /* left: 2px; */
    --balloon-color: rgba(197, 197, 197, 0.5);
    --balloon-font-size: 1.0em;
    --balloon-text-color: black;
    /* width: 0; */
}

    
    [aria-label][data-balloon-pos]:after {
        font-weight: bold !important;
        font-family: Roboto, Helvetica, -apple-system, Sans-Serif !important;    
        padding: 0px 0px 0px 1em !important;
        letter-spacing: 0.05rem;
        z-index: 0 !important;
        margin: -18px 0px !important;
        width: calc(100vw - 20px - 1em);
        /* width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available; */
    }
    [aria-label][data-balloon-pos]:before {
        display:none;
    }

