:root {
    /* --rowheader-width: 20px; */
    /* font-family: Inter, sans-serif; */
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans", Arial, sans-serif;
    /* font-feature-settings: 'liga' 1, 'calt' 1; */
    /* fix for Chrome */
}

/* @supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, Helvetica, Arial, Tahoma, sans-serif;
    }
} */

body {
    /* font-family: "Gill Sans", Roboto, Helvetica, -apple-system, Sans-Serif; */
    -webkit-font-smoothing: antialiased;
    /* font-size: 75%; */
    /* hyphens: none; */
    /* 70%/1.2em; "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif; */
    /* line-height: 1.5; */
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    font-size: 0.75rem;
    display: grid;
    grid-template-areas: "header" "table" "footer";
    /* grid-template-rows: 10vh 1fr auto; */
    /* grid-template-rows: 50px auto 100px; */

    /* margin-bottom:50px; */
    /* height: 100vh; */
}

/*GRID*/
header {
    grid-area: header;
    /* grid-row-start: 1; */
}

/* #maintfooter {
    grid-row-start: 3;
    padding: 0;
    margin: 0;
/*} */
section#database {
    grid-area: table;
    /* grid-row-start: 2; */
}

footer {
    grid-area: footer;
    /* min-height: 1vh; */
    /* position: fixed; */
    /* height: 50px; */
    padding: 0;
    margin: 0;
    background: rgb(226, 231, 235, 0%);
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/* th#LOOKAHERE {
    padding: 0;
    margin: 0;
    background: rgb(226, 231, 235);
} */

#navfooter {
    /* position: absolute;
    bottom: 0; */
    height: 100%;
    float: inline-end;
}

#navfooter>ul {
    height: 100%;
    margin: 0;
    vertical-align: bottom
}

.nowrap {
    white-space: nowrap;
}

header div {
    display: inline-block;
}

header div#activity {
    float: right;
}



/*TEXT*/
h1 {
    font-family: "Raleway", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    line-height: 20px;
    color: black;
    font-size: 2.2em;
    margin-bottom: 0.5em;
    margin-left: 0.2em
}

a.heading {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 8px;
}

a.heading,
a.heading:visited,
a.heading:hover,
a.heading:active {
    color: inherit;
}

.subdetails {
    font-size: 0.9em;
    font-style: italic;
    color: black;
    /* margin-top: 0.6em;
    margin-bottom: 0; */
    margin: 0;
}

.inlinedetails {
    font-weight: normal;
    font-style: italic;
    color: grey;
}

.padright {
    margin-right: 0.4em;
}

.padleft {
    margin-left: 0.4em;
}
.padbottom {
    margin-bottom: 0.6em;
    content: " ";
    display: block;
}

/* NAVIGATION */

ul.tabs {
    margin: 0;
    padding: 0;
}

li.tab {
    position: relative;
    list-style: none;
    /* float: left; makes tabs stick to top of footer element??*/
    padding: 0;
    display: inline-flex;
    vertical-align: bottom;
}

a.tab {
    padding: 5px 16px;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    margin-left: 2px;
    color: white;
    font-size: 0.82rem;
    /* border: solid 0px white; */
    border-radius: 0.8em 0.8em 0 0;
    box-shadow: 1px -1px 5px grey;
    outline: solid 0.5px grey;
}

a.tab.MAINclr {
    background-color: #6894dbe8;
}

a.tab.LINKclr {
    background-color: #f69b55e4;
}

a.tab.MAINLINK {
    filter: saturate(2.3);
    padding: 5px 20px;
    /* margin-left: 5px;
    margin-right: 5px; */
    font-style: normal;
}


li.tab:hover {
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
    filter: brightness(70%);
    text-decoration: none;
}

li.tab.active a.tab {
    outline-width: 3px;
    -webkit-filter: brightness(110%);
    -moz-filter: brightness(110%);
    -o-filter: brightness(110%);
    -ms-filter: brightness(110%);
    filter: brightness(110%);
    filter: saturate(3);
    /* text-decoration:underline; */
    font-size: 1.2rem;
}

/* li.tab.active a.tab {
    background-color: #ff7000;
} */


/*TABLES general*/

th,
td {
    white-space: pre-wrap;
}

td.IDcol,
th.IDcol {
    width: 0 !important;
    padding: 0 !important;
    /* padding-right: 0px;
    padding-left: 4ex;
    /* !important; really removes the column! */
}

table.dataTable>tbody>tr>th,
table.dataTable>tbody>tr>td {
    padding: 35px 8px 30px 8px;
    /*28px 8px 22px 8px;*/
    vertical-align: text-top;
    /* keeps copy button stuck on top! */
}

td.match {
    color: rgba(59, 129, 229, 0.7);
    font-size: 0.87em;
    text-decoration: underline;
    /* font-style: italic; */
    /* white-space: normal; */
    vertical-align: middle;
    white-space: pre-line;
    /* border-right: 1px lightgray dotted; */
    line-height: 1.2em;
    letter-spacing: 0.1px;
}

td.match span:hover {
    background-color: lightgrey;
}

/*FIXED TABLE*/

table.dataTable>tbody>tr>td.LINKcol,
table.dataTable>thead>tr>th.LINKcol {
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: right;
    /* width: 0%; */
    /* padding-left: 0px !important; */
    /* font-size: 0.95em; */
    font-style: italic;
    /* font-weight: bold; */
    color: forestgreen;
    white-space: normal;
    vertical-align: middle !important;
    border-right: 1px lightgray dotted;
    padding-top: 15px;
    padding-bottom: 0;
}

table.dataTable>thead>tr.columnfilters>th {
    background-color: rgb(226, 231, 235);
    box-shadow: 0 0 3em 0.1em rgb(226, 231, 235);
    position: relative;
    z-index: 1;
    font-weight: normal;
    padding: 2px 5px;
    text-align: left;
    font-size: 0.9em;
}

td.LINKcol div {
    padding-left: 25px;
    text-align: right;
}

th.LINKcol div {
    padding-left: 25px;
    font-style: normal;
}

div.typeicon {
    text-align: center;
}

/*CHILD TABLE */
tr.child>td.child {
    font-size: 96%;
    padding: 0 !important;
    /* overrides padding of 'table.linktable tr td' padding */
    white-space: normal;

}

tr.child>td.child table {
    border-collapse: separate;
    width: 100%;
    margin: 0;
    border-spacing: 2px;
}

tr.child>td.child table.detailstable>tbody>tr>td {
    padding: 6px 8px;
    background-color: #ece8dc;
    border: 0;
    vertical-align: top;
}

tr.child>td.child table.detailstable>tbody>tr>td.detailsHeader {
    text-align: right;
}

tr.child>td.child table.linktable tr th {
    background-color: #ece8dc;
    border: 0;
}

tr.child>td.child table.linktable tr td {
    background-color: #faf7ed;
    text-align: left;
    border: 0;
    padding: 20px 5px;
}

table.dataTable tbody tr.child>td.child div.dt-container {
    background-color: #ece8dc;
    /* margin-top: 5px; */
    -webkit-box-shadow: inset 0px 20px 18px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 20px 18px -14px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 7px 9px -7px rgba(0, 0, 0, 0.10);
}

table.dataTable tbody tr.child>td.child div.dt-container div.dt-layout-row {
    margin: 0;
}

td.detailsHeader {
    font-style: italic;
    text-align: right;
    width: 15%;
    white-space: nowrap;
}

input.headersearch {
    display: table-cell;
    width: 100%;
    font-size: 0.9rem;
}

td.plus-ctrl {
    cursor: pointer;
    /* background: url('../css/details_open.png') no-repeat center center content-box; */
    background-image: url(../css/details_open.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
}

tr.LINKshown td.plus-ctrl {
    /* background: url('../css/details_close.png') no-repeat center center content-box; makes background color fill padding?? */
    background-image: url(../css/details_close.png);
}

td.arrow-ctrl {
    cursor: pointer;
    /* width: 0px; */
    padding: 0px;
    background: linear-gradient(to bottom, rgba(211, 211, 211, 0.5), rgba(255, 255, 255, 0.5)), url('../css/sort-arrow-down.svg') no-repeat top center;
}

tr.LASTshown td.arrow-ctrl {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(211, 211, 211, 0.5)), url('../css/sort-arrow-up.svg') no-repeat bottom center;
}

/* DataTables OVERRIDE */

/* table.dataTable.row-border>tbody>tr>*,
table.dataTable.display>tbody>tr>* {
    border: 0;
}
    table.dataTable {
    border-collapse: separate;
    border-spacing: 0 20px;
}*/

div.dt-container .dt-search input {
    width: 40vw;
  }
/* div.dt-container div.dt-layout-row { CHANGES ALL CELL BACKGROUNDS????
    background: rgb(226, 231, 235);
} */
div.dt-container div.dt-layout-cell.dt-start {
    padding-top: 0;
}

div.dt-container div.dt-layout-cell.dt-end {
    padding: 0;
}

div.dataTables_wrapper div.dataTables_processing {
    top: 0;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* LOADING SPINNER */

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

td.tipdiv button {
    position: absolute;
    top: 0.2em;
    /* MAKE EQUAL TO aria-label :after { padding-top: 5px } */
    /* transform: translateY(-24px); */
    /* display: inline-block; */
    height: 1em;
    border: 0;
    background-color: rgb(0, 0, 0, 0);
    background-image: url(content-copy.svg);
    background-position: center top;
    background-size: 0.9em;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* margin: -5rem 0px !important; */
    cursor: copy;
    display: none;
}

tr:hover td.tipdiv button {
    display: inline;
}

td.tipdiv button:active {
    background-color: rgba(182, 182, 182, 0.2);
    background-size: 90%;
    box-shadow: 1px 1px lightgray;
}

/* BALLOON.CSS */

.tipdiv {
    --balloon-color: linear-gradient(35deg, transparent 0%, rgba(209, 209, 209, 0.508));
    /*rgb(230, 230, 230);/*lightblue;/*rgba(197, 197, 197, 0);*/
    --balloon-font-size: 1.05em;
    --balloon-text-color: darkgoldenrod;
    --balloon-border-radius: 2px;
    --balloon-move: 0px;
    /*#020c24; /*black;*/
}

[aria-label][data-balloon-pos]:after {
    position: absolute;
    top: 0px;
    padding-top: 0px;
    /* 2px */
    /* MAKE EQUAL TO tipdiv { top: 5px } */
    font-weight: 500 !important;
    font-size: 0.9rem;
    /* font-style: italic; */
    line-height: 1.5em;
    text-indent: 0.0em;
    letter-spacing: 0.1px;
    z-index: 0 !important;
    width: calc(100vw - 32px);
    /* width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available; */
    padding-left: 0.9rem;
    padding-right: 0;
    bottom: auto !important;
}

[aria-label][data-balloon-pos]:before {
    display: none;
}

[aria-label][data-balloon-pos] {
    cursor: initial;
}

/* TOOLTIPSTER */

div.tooltipster-content li {
    white-space: pre-wrap;
}